<div class="flex justify-between">
  <a href="/" class="font-semibold underline text-gray-900 text-xl py-1"
    >My Online Platform</a
  >
  <a
    href="/signout"
    class="font-semibold rounded py-1 px-3 bg-red-500 text-white"
    >Sign Out</a
  >
</div>
