<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-span-2 col-start-3">
        <%- include("header.ejs") %>

        <p class="py-2">Welcome To Online Voting System</p>
        <p class="py-2">
          New User ?
          <a href="/signup" class="pl-1 text-green-600">Sign Up now</a>
        </p>
        <p class="py-2">
          Already have an account ?
          <a href="/login" class="pl-1 text-green-600">Sign in here</a>
        </p>
      </div>
    </div>
  </body>
</html>
